<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @calculator.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @calculator.telephone %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @calculator.post_code %>
</p>

<p>
  <strong>Current rent:</strong>
  <%= @calculator.current_rent %>
</p>

<p>
  <strong>Initial cost:</strong>
  <%= @calculator.initial_cost %>
</p>

<%= link_to 'Edit', edit_calculator_path(@calculator) %> |
<%= link_to 'Back', calculators_path %>
