<legend>Welcome to Simy!</legend>

<p>Simy lets you calculate yearly yield on your rental properties. It also saves your calculations in the cloud so you can retrieve them anytime anywhere.</p>

<p>Let us take some details to get started.</p>

<br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name, autofocus: true, class: "form-control", placeholder: "Enter your full name"  %>
  </div>

  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone, class: "form-control", placeholder: "Enter your telephone number"  %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", placeholder: "Enter your e-mail address"  %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter password"  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password"  %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
    <%= link_to "Already have an account? Sign in.", login_path %>
  </div>
<% end %>

