<legend>Reset Password</legend>

<p>We can help you reset your password using the email address linked to your account.</p>



<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <div id="error_explanation">
	<%= devise_error_messages! %>
  </div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Enter your e-mail address' %>
  </div>

  <br />

  <div><%= f.submit "Send instructions", class: 'btn btn-primary' %></div>
<% end %>
